<footer class="navbar-dark bd-footer py-md-5 mt-5 bg-dark">
    <div class="container px-4 px-md-3">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center text-decoration-none" href="/" aria-label="Bootstrap">
            <img src="/images/logo_full.svg" alt="Logo" height="100">
          </a>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <ul class="navbar-nav list-unstyled">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/industries">Industries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/technology">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/why-choose-us">Why Choose Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/casestudies">Case Study</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/careers">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Blog</a>
            </li>

            
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <ul class="navbar-nav list-unstyled">
            <li class="nav-item"><a class="nav-link" href="/privacy-policy">Privacy</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/docs/5.3/getting-started/webpack/">Contact Us</a></li>
          </ul>
        </div>
        
        <div class="col-6 col-lg-2 mb-3">
          <h5>Location</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.05053432885!2d-74.30915786755739!3d40.69719336274902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1744437512665!5m2!1sen!2sin" width="300" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>