{{ define "main" }}



<div class="container-fluid gx-4">

  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 py-5 p-5  bg-body-tertiary home-banner">
    <div class="col d-flex flex-column justify-content-center">
      <h1 class="display-5 fw-bold text-dark">Elevate Your Business with <span
          class="type display-6"><span><span>Microservices</span><span>Devops</span><span>Cloud Native
              Apps</span><span>JAM Stack</span><span>Low Code/No Code</span></span></span></h1>
      <p class="fs-4 fw-notmel text-start animate__animated animate__rubberBand"><small>Transform your software
          operations and scale new heights with our tailored services. Let us manage your Cloud and DevOps needs, so you
          can focus on driving innovation</small></p>
    </div>
    <div class="col">
      <img class="img-fluid animate__animated animate__bounce" src="/images/homepage.png" alt="award" width="auto">
    </div>
  </div>

  <div class="container-fluid p-5">
    <div class="row home-service">
        <div class="col-sm-4">
            <div class="card card-flip h-100">
                <div class="card-front text-white">
                  <img src="../images/mobileapp_dev.avif" class="card-img" alt="...">
                    <div class="card-body card-img-overlay text-center align-items-center">
                        <i class="fa fa-search fa-3x float-right"></i>
                        <h3 class="card-title">Corporate Training</h3>
                        <p class="card-text">Boost your workforce with hands-on training in Cloud Services, DevSecOps, SRE, and NOC.</p>
                    </div>
                </div>
                <div class="card-back bg-dark text-center align-items-center text-white">
                    <div class="card-body">
                        
                        <p class="card-text">Let 1UpCloud Technologies drive your digital transformation and help your business achieve greatness.</p>
                        <a href="#" class="btn btn-outline-secondary">Action</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-flip h-100">
                <div class="card-front text-white">
                  <img src="../images/machinelearning.jpg" class="card-img" alt="...">
                  <div class="card-body card-img-overlay text-center align-items-center">
                        <i class="fa fa-search-plus fa-3x float-right"></i>
                        <h3 class="card-title">Turbocharged Development</h3>
                        <p class="card-text">Accelerate your development process with automated code generation, reducing manual effort and boosting productivity. </p>
                    </div>
                </div>
                <div class="row card-back bg-dark text-center align-items-center text-white">
                    <div class="card-body ">
                        
                        <p class="card-text">SQLComponents lets you build applications faster and smarter.</p>
                        <a href="#" class="btn btn-outline-secondary">Action</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-flip h-100">
                <div class="card-front text-white ">
                  <img src="../images/CyberSecurity.png" class="card-img" alt="...">
                  <div class="card-body card-img-overlay text-center align-items-center">
                        <i class="fa fa-arrow-circle-right fa-3x float-right"></i>
                        <h3 class="card-title">Type Safety</h3>
                        <p class="card-text">Ensure robust code with compile-time checks, catching issues before they reach runtime.</p>
                    </div>
                </div>
                <div class="card-back bg-dark text-center align-items-center text-white">
                    <div class="card-body">
                        
                        <p class="card-text">SQLComponents guarantees safer, more reliable SQL development.</p>
                        <a href="#" class="btn btn-outline-secondary">Action</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-3">
            <div class="card card-flip h-100">
                <div class="card-front text-white">
                  <img src="../images/crmerp.jpg" class="card-img" alt="...">
                  <div class="card-body card-img-overlay text-center align-items-center">
                        <i class="fa-solid fa-gears fa-3x float-right"></i>
                        <h3 class="card-title">Simply SQL</h3>
                        <p class="card-text">Unleash the full power of SQL without traditional ORM limitations.</p>
                    </div>
                </div>
                <div class="card-back bg-dark text-center align-items-center text-white">
                    <div class="card-body">
                       
                        <p class="card-text">With SQLComponents, all you need to work with SQL is just SQL.</p>
                        <a href="#" class="btn btn-outline-secondary">Action</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-3">
            <div class="card card-flip h-100">
                <div class="card-front text-white">
                  <img src="../images/Cloud_Computing.png" class="card-img" alt="...">
                  <div class="card-body card-img-overlay text-center align-items-center">
                        <i class="fa-solid fa-microchip fa-3x float-right"></i>
                        <h3 class="card-title">Future-Proof</h3>
                        <p class="card-text">WCode once, upgrade anytime. SQLComponents evolves with the latest versions of Java and databases automatically—no more manual upgrades.</p>
                    </div>
                </div>
                <div class="card-back bg-dark text-center align-items-center text-white">
                    <div class="card-body">
                        
                        <p class="card-text">Keep your applications modern without rewriting code.</p>
                        <a href="#" class="btn btn-outline-secondary">Action</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-3">
          <div class="card card-flip h-100">
              <div class="card-front text-white">
                <img src="../images/ai.jpeg" class="card-img" alt="...">
                <div class="card-body card-img-overlay text-center align-items-center">
                      <i class="fa-solid fa-shield-halved fa-3x float-right"></i>
                      <h3 class="card-title">Cybersecurity is the practice </h3>
                      <p class="card-text">Cybersecurity safeguards systems from unauthorized access, data breaches, and cyber threats </p>
                  </div>
              </div>
              <div class="card-back bg-dark text-center align-items-center text-white">
                  <div class="card-body">
                      
                      <p class="card-text">implementing robust measures such as firewalls, encryption, and intrusion detection systems.</p>
                      <a href="#" class="btn btn-outline-secondary">Action</a>
                  </div>
              </div>
          </div>
      </div>
        
    </div>
</div>


  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 bg-secondary px-5 py-5">
    <div class="col py-5 ">
      <h6 class="text-dark">Testimonials</h6>
      <h2 class="pb-2 text-dark">Don’t believe me? People talk</h2>
      <p class="text-dark"><small>We pride ourselves in the work we do but it’s always nice to hear from our clients.
          Here are just some of the “Thank Yous” we’ve had.</small></p>
    </div>
    <div class="col py-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators mb-0">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card p-3 text-center px-4">

              <div class="user-image">

                <img src="" class="rounded-circle" width="80">

              </div>

              <div class="user-content">

                <h5 class="mb-0">CEO</h5>
                <span>Rits Soft Private Limited</span>
                <p class="small">“From the very first dealing with 1upCloud, the
                  impression has been one of an extremely efficient and knowledgeable company. I wouldn’t hesitate to
                  use them again for a similar project and would highly recommend them to other companies looking for
                  someone to embark upon the
                  Cloud journey, DevOps, SRE, AWS and Digital transformations.”

                </p>

              </div>

              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

              </div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="card p-3 text-center px-4">

              <div class="user-image">

                <img src="" class="rounded-circle" width="80">

              </div>

              <div class="user-content">

                <h5 class="mb-0">CEO</h5>
                <span>Rits Soft Private Limited</span>
                <p class="small">“From the very first dealing with 1upCloud, the
                  impression has been one of an extremely efficient and knowledgeable company. I wouldn’t hesitate to
                  use them again for a similar project and would highly recommend them to other companies looking for
                  someone to embark upon the
                  Cloud journey, DevOps, SRE, AWS and Digital transformations.”

                </p>

              </div>

              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

              </div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="card p-3 text-center px-4">

              <div class="user-image">

                <img src="" class="rounded-circle" width="80">

              </div>

              <div class="user-content">

                <h5 class="mb-0">CEO</h5>
                <span>Rits Soft Private Limited</span>
                <p class="small">“From the very first dealing with 1upCloud, the
                  impression has been one of an extremely efficient and knowledgeable company. I wouldn’t hesitate to
                  use them again for a similar project and would highly recommend them to other companies looking for
                  someone to embark upon the
                  Cloud journey, DevOps, SRE, AWS and Digital transformations.”

                </p>

              </div>

              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

              </div>

            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

  </div>
</div>



{{ end }}