{{ define "main" }}



<div class="container-fluid py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Cloud and DevOps services</h1>
      <p class="col-md-8 fs-4">Invest your time and efforts on running your business, We will run your Software.</p>
    </div>
  </div>

  <div class="row align-items-md-stretch text-bg-dark">
    <div class="col-md-6">
      <div class="h-100 p-5  rounded-3">
        <h2>Vision</h2>
        <p>Our vision is to build next generation, secure and reliable systems in public clouds with rock-solid DevOps
          and SRE pillars, putting customers first with SLIs and SLOs. We provide services leading to an effective
          DevOps, Continuous Delivery via Reliable Software Releases through Build, Test, and Deployment Automation. And
          building successful SRE in large enterprises
          solving reliability fears with Site Reliability Engineering is our motto.
          Our values of Customer Obsession, Ownership, Invent, Think Big, Dive Deep and Deliver results is what makes us
          successful.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 rounded-3">
        <h2>Mission</h2>
        <p>Our mission is to protect, provide for, and progress the software engineering and systems engineering, public
          cloud services, to name just a few — with an ever-watchful eye on their availability, latency, performance,
          and capacit Reliable releases and rollbacks.</p>
      </div>
    </div>
  </div>
</div>




{{ end }}