{{ define "main" }}
<small>We work on</small>
<h2 class="pb-2 border-bottom">Blog</h2>
<main class="row justify-content-center">
    <div class="col-lg-9">
        <ul class="list-unstyled">
            <!-- Ranges through content/posts/*.md -->
            {{ range .Pages }}
            <li class="py-3">
                <h3 class="title mb-1"><a class="text-link" href="{{strings.TrimRight " /" .Permalink}}">{{.Title}}</a>
                </h3>
                <div class="meta mb-1"><span class="date px-2">Published 2 months ago</span>
                    <span class="stretched-link position-relative reading-time text-nowrap"
                        title="Estimated reading time"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 12a9 9 0 1018 0A9 9 0 003 12"></path>
                            <path d="M12 7v5l3 3"></path>
                        </svg>
                        <span class="px-2">5&nbsp;minutes</span>
                </div>
                <div class="intro">{{ .Summary }}</div>
                <a class="text-link" href="{{strings.TrimRight " /" .Permalink}}">Read more →</a>
            </li>
            {{ end }}
        </ul>
    </div>

</main>
{{ end }}