{{ define "main" }}

<h2 class="pb-2 border-bottom">Blog</h2>
    
        <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 list-unstyled">


            <!-- Ranges through content/posts/*.md -->
            {{ range .Pages }}
            <li class="col">


                <div class="card shadow-sm" style="min-height: 500px;max-height: 500px;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="title mb-1"><a class="text-link" href="{{strings.TrimRight " /" .Permalink}}">{{.Title}}</a></h3>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                5&nbsp;minutes
                            </div>
                            <small class="text-body-secondary">Published 2 months ago</small>
                          </div>

                      <p class="card-text">{{ .Summary | plainify | truncate 120 }}</p>
                      
                      
                    </div>
                    <div class="card-footer bg-info">
                        <a class="text-link" href="{{strings.TrimRight " /" .Permalink}}">Read more →</a>
                    </div>
                  </div>


                
                
           
            </li>
            {{ end }}
        </ul>
    

{{ end }}