@import './base/typography';
@import './themes/theme.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';


body {
    line-height: 1.8rem;
  }

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .icon-bar li:hover{
    padding: 0.5 2rem;
    background-color: #566FB5 !important;
    transition: background-color 1s ease-in-out;
  }
  .home-award {
    justify-content: center;
  }
  .home-award img{
    width: auto;
    position: relative;
    bottom: -78px;
  }
.home-banner{
  background-image: url('/images/banner_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
  footer, body>nav{
    background-image: url('/images/Container.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff !important;
  }
  .about, .contact, .post-height{
    min-height: calc(100vh - (100px + 240px));
  }
  .vision-border{
    border-right: 1px solid #fff;
  }
  .carousel-indicators [data-bs-target]{
    background-color: #ccc;
  }
  .about .card{
    background-color: transparent;
    border: 0;
  }
  .about h1{
    font-size: 4rem;
    font-weight: bold;
  }
  .about .card:hover{
    box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.1) !important;
  }
  .technology .card{
    border: 0;
    
  }
  .technology .card:hover{
    box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.1) !important;
  }
  .technology .card .card-header{
    border: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: bold;
    font-size: 1.3rem;
    background: linear-gradient(to right, #019FDC 0%, #292E5E 100%);
  }
  .technology .card .card-body{
    border: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
/*
flip card
*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 1000ms;
  // transition: 0.5s ease-in-out;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
.home-service .card-front .card-body{
  background-color: rgba(0,0,0,0.5);
}
  @media (max-width: 767.98px) { .home-award img{width: 100%;} }


  .type {
    display:inline-block;
    vertical-align: bottom;
  }
  
  .type > span {
    display:grid;
    overflow: hidden;
    height:1.2em;
  }
  
  .type span span {
    width:0%;
    max-width:max-content;
    overflow: hidden;
    height:inherit;
    word-break:break-all;
    animation:
      c 0.5s infinite steps(1),  
      t 2s linear infinite alternate,
      m 12s steps(3) infinite;
  }
  .type span span:before {
    content:" ";
    display:inline-block;
  }
  
  @keyframes t{
    90%,100% {width:100%}
  }
  
  @keyframes c{
    0%,100%{box-shadow:5px 0 0 #0000}
    50%    {box-shadow:5px 0 0 red  }
  }
  
  @keyframes m{
    100% {transform:translateY(-300%)}
  }
  .industries-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    .industries-card__image {
      height: 230px;
      img {
        object-fit: contain;
        height: 250px;
      }
    }
    .card-title {
      color: #030419;
      font-weight: 600;
    }
  }